/*Site inteiro*/
* {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Topo do site*/
header {
    border-bottom: 2px solid rgb(212, 212, 212);
    padding-bottom: 0.5%;
}

#title {
    text-align: center;
    color: #197519;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-icon_flex {
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 1%;
}

.menu-icon_flex > img {
    width: 50;
    height: 50;
}

/*menu de navegação*/
nav {
    display: flex;
    border-right: 2px solid rgb(212, 212, 212);
}

ul.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

li {
    /*margin: 25px 18px;*/
    border: 2px solid rgb(212, 212, 212);
    padding: 30px 45px;
    background-color: rgb(235, 235, 235);
    gap: 10px;
}

li > p {
    font-size: 0.65rem;
    color: rgb(107, 107, 107);
    display: table;
    margin: auto;
}
    
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

/*
@media screen and (min-width: 800px) {
    
}
*/